<view title="'Scan'">
  <content has-header="true" has-tabs="true" padding="true">
    
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/sample_qrcode.png">
        <h2>{{format}}</h2>
      </div>
    
      <div class="item item-body">
        <p>
          {{scan_result}}
        </p>
      </div>
    
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="reScan()">
          <i class="icon ion-ios7-cog"></i>
          Scan Again
        </a>
        <a class="tab-item" ng-click="clipboardCopy()" ng-hide="cancelled">
          <i class="icon ion-ios7-copy"></i>
          Copy
        </a>
      </div>

    </div>

  </content>
</view>
